<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 p-3">
            <div class="big_img">
                <img src="../../assets/img/c2 (2).jpg" alt="">
            </div>
            <div class="small_img">
                <img src="../../assets/img/c2 (2).jpg"  alt="">
                <img src="../../assets/img/c2 (1).jpg"  alt="">
                <img src="../../assets/img/c2 (3).jpg"  alt="">
                <img src="../../assets/img/c2 (2).jpg"  alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            
        </div>
    </div>
</div>