<h1>Terms & Conditions of Rental of Equipment
<p>4.1 Karma shall deliver the Equipment to the location set out in the Order or such other location as the parties may agree at 
    any time after Karma notifies the Customer that the Equipment is ready for delivery.

</p>
<p>5.1 The Equipment shall at all times remain the property of Karma, and the Customer shall have no right, title or interest in or 
    to the Equipment (save the right to possession and use of the Equipment subject to these Conditions). 

</p>
<p>5.2 The Customer shall give Karma immediate notice in the event the Equipment is lost, stolen or damaged as a result of the 
    Customer’s possession or use of the Equipment or if there is a claim or, for any reason, a threat of seizure of the Equipment.
</p>
<p>5.3 The risk of loss, theft, damage or destruction of the Equipment shall pass to the Customer on delivery of the Equipment to the 
    Customer, or where applicable, the Customer’s appointed agent. The Equipment shall remain at the sole risk of the Customer 
    during the Rental Period and any further term during which the Equipment is in the possession, custody or control of the 
    Customer (“Risk Period”) until such time as the Equipment is returned to Oceanscan.
</p>

<p>6.1 Karma send knowledge and experience person with equipment to operate the Equipment. 
</p>