<div class="banner">
    <h1>{{'Cold Storage'| translate}}</h1>
    <p>{{'Whether storage takes place on the farm or in silos off the farm, increases in the value of products due to their time utility must be sufficient to compensate for costs at this stage, or else storage will not be profitable. These costs will include
        heating, lighting, chemical treatments, store management and labour, We Provide them a storage Facility too !.'|translate}}</p>
</div>

<div class="container">
    <div class="row cards2" *ngFor="let st of storage | paginate:{itemsPerPage:8,currentPage:page,totalItems:totalLength}">
        <div class="col-lg-6 col-md-6 col-sm-12 left2">
            <img src="{{st.images}}" alt="" class="left2_img">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-2">
            <h1 class="mt-3">{{st.name}}</h1>

            <p class="mt-3"><span class="fruit" *ngFor="let item of st.items">{{item.name}} </span></p>
            <p class="description">{{'Description'|translate}} : {{st.storage_description}}</p>
            <button class="view_more" (click)="service_item(st._id)" mat-raised-button>View More</button>
            <button mat-raised-button class="book_now" (click)="setdata(st)" (click)="open(content)">Book Now</button>
            <div class="reviews">
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </div>
        </div>
    </div>
</div>
<pagination-controls class="my-pagination" (pageChange)="page=$event"></pagination-controls>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">{{'Welcome in'|translate}} {{single_items.name}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="description">
            {{'Your items weight be calculated in kilo gram'|translate}}
        </div>
        <p>{{'Please select the item first to enter the items details'|translate}}</p>
        <h3 class="total">{{'Total'|translate}} : <span class="tot">{{total |currency:"INR"}}</span></h3>
        <mat-form-field appearance="legacy">
            <mat-label>{{'Enter your Mobile no.'|translate}}</mat-label>
            <input [(ngModel)]="mobile" #mob="ngModel" pattern="^(\+[\d]{1,5}|0)?[7-9]\d{9}$" required="true" matInput>
            <mat-hint *ngIf="mob.errors?.['required']">{{'Number is required.'|translate}}</mat-hint>
            <mat-hint *ngIf="!mob.invalid && (mob.dirty || mob.touched) && mob.errors?.['pattern']" class="danger">{{'Plz enter your correct number.'|translate }} </mat-hint>
        </mat-form-field>

        <div class="items" *ngFor="let item of single_items.items;let index = index;trackBy:trackByIndex;">
            <mat-checkbox id="{{'chk'+item.name}}" [(ngModel)]="item.selected" class="example-margin">{{item.name}}</mat-checkbox>

            <div class="duration">
                <label for="">
                        {{'Starting Date'| translate}} <input type="date" #bookingDate disabled="{{!item.selected}}" matInput>
                    </label>
                <label for="" style="float: right">
                        {{'End Date'|translate}} <input type="date" #endDate disabled="{{!item.selected}}" matInput>
                    </label>
            </div>

            <mat-form-field appearance="legacy">
                <mat-label>{{'Enter the weight'|translate}}</mat-label>
                <input (keyup)="checkWeight($event,item.name)" #weight disabled="{{!item.selected}}" required="true" matInput>
            </mat-form-field>


            <button [disabled]="true" id="{{'btn'+item.name}}" class="ok" (click)="itemsData(item,bookingDate.value,endDate.value,weight.value,index)">{{'ok'|translate}}</button>
        </div>
        <button class="book" (click)="save()" mat-raised-button>{{'Book Now'| translate}}</button>
    </div>
</ng-template>