<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left_image">
                    <img class="img-fluid" src="../../assets/img/signup.png" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="heading">
                    <h2>Registration Form</h2>
                </div>
                <div class="form_wrap">

                    <div class="form_item">
                        <label>First Name</label>
                        <input [(ngModel)]="user.name" type="text">
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Phone no.</label>
                            <input [(ngModel)]="user.mobile" type="text">
                        </div>
                    </div>



                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Email Address</label>
                            <input [(ngModel)]="user.email" class="form-control" type="email">
                        </div>
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Password</label>
                            <input [(ngModel)]="user.password" class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>Occupation</label>
                            <input [(ngModel)]="user.occupation"  type="text">
                        </div>
                    </div>
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>address</label>
                            <input [(ngModel)]="user.address" type="text">
                        </div>
                    </div>

                    <div class="form_wrap">
                        <div class="form_item">
                            <div class="btn">
                                <input type="submit" (click)="register()" value="Get Started">
                            </div>
                        </div>
                    </div>
                     <span>Have already an Account ? <a routerLink="signin">login</a></span>
                
        
        
                </div>
            </div>
        </div>
    
    </div>
</div>