<div class="user_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1><strong>Name</strong> : {{data.userId.name}}</h1>
                <p><strong>Storage Name</strong> : {{data.storage_id.name}}</p>
                <p><strong>Storage Address</strong> : {{data.storage_id.location}}</p>
                <p><strong>Storage Booking date</strong> : {{data.date | date : 'mediumDate'}}</p>
                <p><strong>Booking amount</strong> : {{data.total}}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                Your items details
                <div class="items" *ngFor="let items of data.items">
                    <p><strong>Name</strong> : {{items.name}}</p>
                    <p><strong>Your product weight</strong> : {{items.weight}} kg</p>
                    <p><strong>Start Date</strong> : {{items.bookingDate| date : 'mediumDate'}}</p>
                    <p><strong>End Date</strong> : {{items.date| date : 'mediumDate'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>