<h1 class="user">Welcome {{products[0].userId.name}}</h1>

<div style="width:95%;margin:auto;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Total items</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products" style="cursor: pointer;" (click)="openDialog(product)">
            <td>{{product.storage_id.name}}</td>
            <td>{{product.date | date:'mediumDate'}}</td>
            <td>{{product.items.length}}</td>
        </tr>
        </tbody>
    </table>
</div>