<div class="container details_card">
    <div class="row shadow-lg">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="details">
                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your name' |translate}}</mat-label>
                    <input #name="ngModel" [(ngModel)]="contractFarming.name" type="text" required="true" matInput>
                    <mat-hint *ngIf="name.errors?.['required']">{{'Name is required.'|translate}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your email'|translate}}</mat-label>
                    <input #email="ngModel" [(ngModel)]="contractFarming.email" pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}" type="text" matInput required="true">
                    <mat-hint *ngIf="!email.invalid && (email.dirty || email.touched) && email.errors?.['pattern']" class="danger">Email should not empty</mat-hint>
                    <mat-hint *ngIf="email.errors?.['required']">{{'Email is Required.'|translate}}</mat-hint>
                    <mat-hint *ngIf="email.errors?.['pattern']">{{'Email is Invalid.'|translate}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your mobile'|translate}}</mat-label>
                    <input #mob="ngModel" [(ngModel)]="contractFarming.mobile" pattern="^(\+[\d]{1,5}|0)?[7-9]\d{9}$" type="text" matInput required="true">
                    <mat-hint *ngIf="!mob.invalid && (mob.dirty || mob.touched) && mob.errors?.['pattern']" class="danger">Please enter valid mobile number. </mat-hint>
                    <mat-hint *ngIf="mob.errors?.['required']">{{'Number is required.'|translate}}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your address'|translate}}</mat-label>
                    <input #add="ngModel" [(ngModel)]="contractFarming.address" type="text" matInput required="true">
                    <mat-hint *ngIf="add.errors?.['required']">{{'Address is required.'|translate}}</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="details">


                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your farm area'|translate}}</mat-label>
                    <input #area="ngModel" (blur)="areacheck()" [(ngModel)]="contractFarming.area" type="text" placeholder="farm area in square feet" matInput required="true">
                    <mat-hint *ngIf="area.errors?.['required']">{{'Area is required.'|translate}}</mat-hint>
                    <!-- <mat-hint *ngIf="area.errors?.['required']">{{'Area is required.'|translate}}</mat-hint> -->
                </mat-form-field>

                <div class="form-group mt-3 ms-1">
                    <label for="" class="form-label">{{'Please select a picture of your farm.'|translate}}</label>
                    <input type="file" class='images' name="image" (change)="selectImage($event)">
                    <!-- <div *ngIf="Im">!Please Select Image</div> -->
                </div>


                <mat-form-field appearance="legacy" class="datebox">
                    <mat-label>{{'Enter a duration date'|translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input #date1="ngModel" (change)="dateValid()" [(ngModel)]="contractFarming.start_date" matStartDate placeholder="Start date" required="true">
                        <input #date2="ngModel" [(ngModel)]="contractFarming.end_date" matEndDate placeholder="End date" required="true">
                        <mat-hint *ngIf="date1.errors?.['required']">{{'Dates are required.'|translate}}</mat-hint>
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>{{'Enter your description here'|translate}}</mat-label>
                    <textarea [(ngModel)]="contractFarming.description" matInput></textarea>
                </mat-form-field>


                <mat-checkbox (click)="checkf()" class="example-margin mb-3"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">{{'I agree with terms and conditions'|translate}}</a>
                </mat-checkbox>
                <button mat-raised-button (click)="save()">{{'Send Request'|translate}}</button>
                <!-- <button mat-raised-button [disabled]="are||!check2||Im||email.errors?.['pattern']||date1.errors?.['required']||area.errors?.['required']||add.errors?.['required']||mob.errors?.['required']||name.errors?.['required']||email.errors?.['required']" (click)="save()">{{'Send Request'|translate}}</button> -->




            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title m-0" id="exampleModalLabel">{{'Terms and conditions'|translate}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        {{'You should be the owner of the land.' |translate}}
                    </li>
                    <li>
                        {{'land should not barren.' |translate}}
                    </li>
                    <li>
                        {{'There shoud be a facility of water supply.'|translate}}
                    </li>
                    <li>
                        {{'There should be a facility of elecricity.'|translate}}
                    </li>
                    <li>
                        {{'The area of ​​the farm or land should be at least 1 acre or 43560 square feet.'|translate}}
                    </li>
                    <li>
                        {{'The duration of ​​the contract should be at least 6 months or 180 days.'|translate}}
                    </li>
                    <li>
                        {{'After contract you cannot take land before time period.'| translate}}
                    </li>
                    <li>
                        {{ "we pay 50% amount at the time of contract remaining amount will be paid till last date."|translate}}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>