<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Apply</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of approvedList|approved">
                <th scope="row" class="mt-2">{{list.location}}</th>
                <td class="mt-2">50000</td>
                <td class="mt-2">{{list.start_date | date : 'dd/MMMM/yyyy'}}</td>
                <td class="mt-2" >{{list.end_date | date : 'dd/MMMM/yyyy'}}</td>
                <td >
                    <button class="btn btn-outline-danger" *ngIf="!count" (click)="bookreq(list._id)">Apply</button>
                    <a class="btn btn-success" *ngIf="count"><i class="fa-solid fa-check"></i> Request sended</a>
                </td>
                <td>
                    <button type="button" (click)="getDetail(list)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Description
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <img src="{{list.image}}" class="img-responsive mb-4" width="100%" height="250px"alt="">
            <p class="mt-2 mb-2">Area : {{list.Area}}</p>
            <p class="mt-2 mb-2">Start Date : {{list.start_date | date : 'dd/MMMM/yyyy'}}</p>
            <p class="mt-2 mb-2">End Date : {{list.end_date | date : 'dd/MMMM/yyyy'}}</p>
            <p class="mt-2 mb-2">Description : {{list.description}}</p>
            </div>
            
        </div>
    </div>
</div>