<div class="cards">
    <div class="thumbnails">
        <img src="../../assets/img/cold_storage3.jpg" alt="" class="left">
    </div>
    <div class="right">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, molestias!</h1>
        <div class="author">
            <h2>BrightCode</h2>
        </div>
        <div class="seperator"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, adipisci ipsa. Architecto, repellat. Incidunt totam consectetur perspiciatis. Accusamus, esse quidem.</p>
    </div>
    <h5>20</h5>
    <h6>January</h6>
    <ul>
        <li><i class="fas fa-eye"></i></li>
        <li><i class="fas fa-heart"></i></li>
        <li><i class="fas fa-envelope"></i></li>
        <li><i class="fas fa-share-alt"></i></li>
    </ul>
    <div class="fab">
        <i class="fa fa-arrow-down"></i>
    </div>
</div>

<div class="container">
    <div class="row cards2">
        <div class="col-lg-6 col-md-6 col-sm-12 left2">
            <img src="../../assets/img/cold_storage3.jpg" alt="" class="left2_img">
            <div class="icons">
                <i class="fa-solid fa-comment"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-2">
            <h1>Cold Storage</h1>
            <button class="book_now">Book Now</button>
            <button class="view_more">View More</button>
            <h3>Items : Apple, Orange, Mango, Grapes, Chiku</h3>
            <p class="description">Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis modi saepe quisquam nulla repellat officia necessitatibus, odit facilis veritatis recusandae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, deserunt?</p>
            <h4>Price : 3000</h4>
            <div class="reviews">
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </div>
        </div>
    </div>
</div>