
<div class="form">
    <div class="card login_card shadow-sm border-0">
        <h1>{{'Your Profile'|translate}}</h1>
        <mat-form-field appearance="legacy">
            <input [(ngModel)]="user.name" matInput name="" id="account-fn">  
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <input [(ngModel)]="user.occupation" matInput id="account-ln" >  
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <input [(ngModel)]="user.email" name="email" matInput disabled="">  
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <input [(ngModel)]="user.mobile" matInput>  
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <input [(ngModel)]="user.address" matInput>  
        </mat-form-field>
        
        <button (click)="saved()" class="signin">{{'Update'|translate}}</button>
        
    </div>
</div>
